{% extends "base.html" %}
{% block tittle %}{% endblock  %}
{% block content %}
{% include "navbar.html" %}

<style>
    .cid-u7EViSOG8N {
      display: flex;
    }
    @media (min-width: 768px) {
      .cid-u7EViSOG8N {
        align-items: flex-end;
      }
      .cid-u7EViSOG8N .row {
        justify-content: flex-start;
      }
      .cid-u7EViSOG8N .content-wrap {
        padding: 1rem 3rem;
      }
    }
    @media (max-width: 991px) and (min-width: 768px) {
      .cid-u7EViSOG8N .content-wrap {
        min-width: 50%;
      }
    }
    @media (max-width: 767px) {
      .cid-u7EViSOG8N {
        -webkit-align-items: center;
        align-items: flex-end;
      }
      .cid-u7EViSOG8N .mbr-row {
        -webkit-justify-content: center;
        justify-content: center;
      }
      .cid-u7EViSOG8N .content-wrap {
        width: 100%;
      }
    }
    .cid-u7EViSOG8N .mbr-fallback-image.disabled {
      display: none;
    }
    .cid-u7EViSOG8N .mbr-fallback-image {
      display: block;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: #000000;
    }
    .cid-u7EViSOG8N .mbr-section-title,
    .cid-u7EViSOG8N .mbr-section-subtitle {
      text-align: left;
      color: var(--dominant-color, #ffc091);
    }
    .cid-u7EViSOG8N .mbr-text,
    .cid-u7EViSOG8N .mbr-section-btn {
      text-align: left;
    }
    </style>
    <section class="header18 cid-u7EViSOG8N mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/PWCg1cd3BL8?autoplay&#x3D;1&amp;loop&#x3D;1&amp;playlist&#x3D;PWCg1cd3BL8&amp;t&#x3D;20&amp;mute&#x3D;1&amp;playsinline&#x3D;1&amp;controls&#x3D;0&amp;showinfo&#x3D;0&amp;autohide&#x3D;1&amp;allowfullscreen&#x3D;true&amp;mode&#x3D;transparent" id="hero-15-u7EViSOG8N">
      <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="content-wrap col-12 col-md-8">
            <h1
              class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1 animate__animated animate__delay-1s animate__fadeInUp">
              <strong>Revolutionize Voting</strong>
            </h1>
            <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7 animate__animated animate__delay-1s animate__fadeInUp">Empower Your Voice with UniVote - The Ultimate Online Voting System for Universities</p>
            
          </div>
        </div>
      </div>
    </section>
       
        <style>
      .cid-u7EViSO00H {
        padding-top: 5rem;
        padding-bottom: 3rem;
        background-color: #ffffff;
      }
      .cid-u7EViSO00H .mbr-fallback-image.disabled {
        display: none;
      }
      .cid-u7EViSO00H .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
      .cid-u7EViSO00H .mbr-iconfont {
        margin: auto;
        display: inline-flex;
        font-size: 2rem;
        color: var(--primary-color, #9fe870);
        width: 40px;
        justify-content: center;
        align-items: center;
      }
      .cid-u7EViSO00H .card-title,
      .cid-u7EViSO00H .iconfont-wrapper {
        color: #000000;
      }
      .cid-u7EViSO00H .card-text {
        color: #000000;
      }
      .cid-u7EViSO00H .mbr-section-title {
        color: #000000;
      }
      .cid-u7EViSO00H .mbr-section-subtitle {
        color: #000000;
      }
      .cid-u7EViSO00H .content-head {
        max-width: 800px;
      }
    </style>
    <section class="people02 cid-u7EViSO00H" id="testimonials-2-u7EViSO00H">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-12 content-head">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>Voices</strong>
                    </h3>
                </div>
            </div>
            <div class="row">
                    <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                        <div class="item-wrapper">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper mb-3">
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                </div>
                                <h5 class="card-title mbr-fonts-style mb-3 display-7">UniVote made voting fun and easy, a game-changer for our university!</h5>
                                <p class="card-text mbr-fonts-style mb-0 display-7">Professor Smith</p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                        <div class="item-wrapper">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper mb-3">
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                </div>
                                <h5 class="card-title mbr-fonts-style mb-3 display-7">I never knew voting could be this exciting! UniVote rocks!</h5>
                                <p class="card-text mbr-fonts-style mb-0 display-7">Student Emily</p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                        <div class="item-wrapper">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper mb-3">
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                </div>
                                <h5 class="card-title mbr-fonts-style mb-3 display-7">UniVote&#x27;s platform is intuitive and engaging, a must-have for all universities.</h5>
                                <p class="card-text mbr-fonts-style mb-0 display-7">Dean Johnson</p>
                            </div>
                        </div>
                    </div><div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                        <div class="item-wrapper">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper mb-3">
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                </div>
                                <h5 class="card-title mbr-fonts-style mb-3 display-7">Thanks to UniVote, student participation in elections has skyrocketed!</h5>
                                <p class="card-text mbr-fonts-style mb-0 display-7">Chancellor Adams</p>
                            </div>
                        </div>
                    </div><div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                        <div class="item-wrapper">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper mb-3">
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                </div>
                                <h5 class="card-title mbr-fonts-style mb-3 display-7">UniVote&#x27;s system is secure and efficient, ensuring fair and transparent elections.</h5>
                                <p class="card-text mbr-fonts-style mb-0 display-7">Trustee Roberts</p>
                            </div>
                        </div>
                    </div><div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                        <div class="item-wrapper">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper mb-3">
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                    <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                </div>
                                <h5 class="card-title mbr-fonts-style mb-3 display-7">I love how UniVote brings the entire university community together through voting.</h5>
                                <p class="card-text mbr-fonts-style mb-0 display-7">Alumni Sarah</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row mt-0 mt-md-5">
            </div>
        </div>
    </section>
        <style>
    .cid-u7EViSPMdM {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: transparent;
    }
    .cid-u7EViSPMdM .mbr-fallback-image.disabled {
      display: none;
    }
    .cid-u7EViSPMdM .mbr-fallback-image {
      display: block;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .cid-u7EViSPMdM .card-wrapper {
      background: #ffffff;
    }
    @media (max-width: 767px) {
      .cid-u7EViSPMdM .card-wrapper {
        padding: 2rem 1.5rem;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .cid-u7EViSPMdM .card-wrapper {
        padding: 2.25rem;
      }
    }
    @media (min-width: 992px) {
      .cid-u7EViSPMdM .card-wrapper {
        padding: 4rem;
      }
    }
    .cid-u7EViSPMdM .mbr-text,
    .cid-u7EViSPMdM .mbr-section-btn {
      color: #000000;
      text-align: left;
    }
    .cid-u7EViSPMdM .card-title,
    .cid-u7EViSPMdM .card-box {
      text-align: left;
      color: #000000;
    }
    </style>
    <section class="article07 cid-u7EViSPMdM" id="about-us-7-u7EViSPMdM">
      <div class="container">
        <div class="row justify-content-center">
          <div class="card col-md-12 col-lg-10">
            <div class="card-wrapper">
              <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
                <strong>Our Mission</strong>
              </h3>
              <div class="row card-box align-left">
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">
                    At UniVote, we&#x27;re on a mission to revolutionize the way universities conduct elections. Our online voting system is designed to empower students, faculty, and staff to have their voices heard like never before.
                    </p>
                  </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">
                      With UniVote, you can participate in elections from anywhere, at any time, making voting convenient and accessible to all. Join us in shaping the future of your university today!
                    </p>
                  </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">
                      Experience the thrill of voting with UniVote - where every vote counts and every voice matters. Let&#x27;s make history together! Join UniVote now and be part of the change!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <style>
    .cid-u7EViSPnj3 {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: #ffffff;
    }
    .cid-u7EViSPnj3 .mbr-fallback-image.disabled {
      display: none;
    }
    .cid-u7EViSPnj3 .item-wrapper {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    
    .cid-u7EViSPnj3 .mbr-fallback-image {
      display: block;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .cid-u7EViSPnj3 .mbr-iconfont {
      display: inline-flex;
      font-size: 2rem;
      color: var(--primary-color, #d70081);
      width: 80px;
      justify-content: center;
      align-items: center;
      background: #ffd7ef;
      height: 80px;
      border-radius: 50%;
    }
    .cid-u7EViSPnj3 .card-title,
    .cid-u7EViSPnj3 .iconfont-wrapper{
      color: var(--primary-color, #d70081);
      text-align: center;
    }
    .cid-u7EViSPnj3 .card-text {
      color: #000000;
      text-align: center;
    }
    .cid-u7EViSPnj3 .content-head {
      max-width: 800px;
    }
    .cid-u7EViSPnj3 .mbr-section-title {
      color: #000000;
    }
    
    </style>
    <section class="features10 cid-u7EViSPnj3" id="metrics-2-u7EViSPnj3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="item features-without-image col-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="card-box align-left">
                <h5 class="card-title mbr-fonts-style display-1">
                  <strong>10,000</strong>
                </h5>
                <p class="card-text mbr-fonts-style mb-3 display-7">
                  active voters
                </p>            
              </div>
            </div>
          </div>
          <div class="item features-without-image col-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="card-box align-left">
                <h5 class="card-title mbr-fonts-style display-1">
                  <strong>98%</strong>
                </h5>
                <p class="card-text mbr-fonts-style mb-3 display-7">
                  voting satisfaction
                </p>            
              </div>
            </div>
          </div>
          <div class="item features-without-image col-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="card-box align-left">
                <h5 class="card-title mbr-fonts-style display-1">
                  <strong>24/7</strong>
                </h5>
                <p class="card-text mbr-fonts-style mb-3 display-7">
                  voting access
                </p>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
          <style>
      .cid-u7EViSPehJ {
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: #ffffff;
      }
      .cid-u7EViSPehJ .item:focus,
      .cid-u7EViSPehJ span:focus {
        outline: none;
      }
      .cid-u7EViSPehJ .container-fluid {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
      }
      .cid-u7EViSPehJ .content-head {
        max-width: 800px;
      }
      .cid-u7EViSPehJ .item {
        color: #232323;
        min-height: 90px;
        font-weight: bold;
      }
      @media (max-width: 768px) {
        .cid-u7EViSPehJ .item {
          min-height: 45px;
        }
      }
      </style>
      <section class="gallery10 cid-u7EViSPehJ" id="features-69-u7EViSPehJ">
        <div class="container-fluid">
            <div class="loop-container">
              <div class="item display-1" data-linewords="
                Revolutionize Voting Experience with Our User-Friendly Platform *
                Secure, Reliable, and Instant Election Results *" 
              data-direction="-1" data-speed="0.05">
              </div>
              <div class="item display-1" data-linewords="
                Revolutionize Voting Experience with Our User-Friendly Platform *
                Secure, Reliable, and Instant Election Results *" 
              data-direction="-1" data-speed="0.05">
              </div>
            </div>   
        </div>
      </section>
          <style>
      .cid-u7EViSPFQz .mbr-fallback-image.disabled {
        display: none;
      }
      .cid-u7EViSPFQz .mbr-fallback-image {
        display: block;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: #000000;
      }
      </style>
      <section class="header18 cid-u7EViSPFQz mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/6Rfgh0d59wI?autoplay&#x3D;1&amp;loop&#x3D;1&amp;playlist&#x3D;6Rfgh0d59wI&amp;t&#x3D;20&amp;mute&#x3D;1&amp;playsinline&#x3D;1&amp;controls&#x3D;0&amp;showinfo&#x3D;0&amp;autohide&#x3D;1&amp;allowfullscreen&#x3D;true&amp;mode&#x3D;transparent" id="video-5-u7EViSPFQz">
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
        <div class="container-fluid">
          <div class="row">
          </div>
        </div>
      </section>
          <style>
      .cid-u7EViSPtYq {
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: #ffffff;
      }
      .cid-u7EViSPtYq .item:focus,
      .cid-u7EViSPtYq span:focus {
        outline: none;
      }
      .cid-u7EViSPtYq .item {
        cursor: pointer;
      }
      .cid-u7EViSPtYq .grid-container {
        grid-row-gap: 2rem;
      }
      @media (max-width: 767px) {
        .cid-u7EViSPtYq .grid-container {
          grid-row-gap: 1rem;
        }
      }
      .cid-u7EViSPtYq .grid-container-1,
      .cid-u7EViSPtYq .grid-container-2 {
        gap: 0 2rem;
      }
      @media (max-width: 767px) {
        .cid-u7EViSPtYq .grid-container-1,
        .cid-u7EViSPtYq .grid-container-2 {
          gap: 0 1rem;
        }
      }
      .cid-u7EViSPtYq .mbr-section-title {
        color: #000000;
      }
      .cid-u7EViSPtYq .mbr-text,
      .cid-u7EViSPtYq .mbr-section-btn {
        color: #000000;
      }
      .cid-u7EViSPtYq .content-head {
        max-width: 800px;
      }
      .cid-u7EViSPtYq .container,
      .cid-u7EViSPtYq .container-fluid {
        overflow: hidden;
      }
      .cid-u7EViSPtYq .grid-container {
        display: grid;
        transform: translate3d(-3rem, 0, 0);
        width: 115vw;
        grid-column-gap: 1rem;
      }
      .cid-u7EViSPtYq .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .cid-u7EViSPtYq .grid-item img {
        min-width: 30vw;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
      @media (max-width: 767px) {
        .cid-u7EViSPtYq .grid-item img {
          min-width: 35vw;
        }
      }
      .cid-u7EViSPtYq .grid-container-1,
      .cid-u7EViSPtYq .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
      }
      .cid-u7EViSPtYq .grid-container-1 {
        align-items: flex-end;
      }
      .cid-u7EViSPtYq .grid-container-2 {
        align-items: flex-start;
      }
      
      </style>
      <section class="gallery4 cid-u7EViSPtYq" id="gallery-12-u7EViSPtYq">
        <div class="container-fluid gallery-wrapper">
          <div class="grid-container">
            <div class="grid-container-1" style="transform: translate3d(-200px, 0px, 0px);">
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1631367095628-94a81f3d4658%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MTR8fHVuaXZlcnNpdHklMjB2b3Rpbmd8ZW58MHwwfHx8MTcwOTkwODA2OXww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;zpJJ9YhDBi54_7h5vZsTialfz27Yee84DYZnec6Yrkc">
              </div>
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1667274034598-b727f7b0ddbd%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8Mnx8dW5pdmVyc2l0eSUyMHZvdGluZ3xlbnwwfDB8fHwxNzA5OTA4MDY5fDA%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;p4bFjsavf1SrEwySdJYf50K9py9r-P3Di0du-tzntIo">
              </div>
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1477281765962-ef34e8bb0967%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MXx8dW5pdmVyc2l0eSUyMHZvdGluZ3xlbnwwfDB8fHwxNzA5OTA4MDY5fDA%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;SHgm9hluma3dHYBI2cYpyhgg7iOpRXeZA6q86MtIMjQ">
              </div>
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1590012314607-cda9d9b699ae%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8Mjd8fHVuaXZlcnNpdHklMjB2b3Rpbmd8ZW58MHwwfHx8MTcwOTkwODA2OXww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;Mf1bPeb0P2bmtdlgJIZzacmgFTq5mFpVHaJ6bk4VZCo">
              </div>
            </div>
            <div class="grid-container-2" style="transform: translate3d(-70px, 0px, 0px);">
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1595126848168-a6042c61a6b2%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MjF8fHVuaXZlcnNpdHklMjB2b3Rpbmd8ZW58MHwwfHx8MTcwOTkwODA2OXww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;8Ra69MuO_EdOU_DY6gzF9I5H0vpn73uJgYwXlaVt7S0">
              </div>
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1550842605-92ad35330694%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MjJ8fHVuaXZlcnNpdHklMjB2b3Rpbmd8ZW58MHwwfHx8MTcwOTkwODA2OXww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;UO6UjqVGHYJcdSR9UTkWD9TXEI5fHdjObX-cDEtRiVw">
              </div>
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1631367097572-cf497e3883e7%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MTN8fHVuaXZlcnNpdHklMjB2b3Rpbmd8ZW58MHwwfHx8MTcwOTkwODA2OXww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;xf7_W6qMfontrx2t6-QfzKwipj9CEudop4m9LzkUxPA">
              </div>
              <div class="grid-item">
                <img src="https://proxy.electricblaze.com/?u&#x3D;https%3A%2F%2Fimages.unsplash.com%2Fphoto-1593054538403-51a323b10f47%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MzB8fHVuaXZlcnNpdHklMjB2b3Rpbmd8ZW58MHwwfHx8MTcwOTkwODA2OXww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e&#x3D;1711089509&amp;s&#x3D;3bDgshGdrklNqerX24emBLVyOiofMg9XWdmHQYJD9nA">
              </div>
            </div>
          </div>
        </div>
      </section>
          <style>
        .cid-u7EViSQ4wo {
          padding-top: 5rem;
          padding-bottom: 5rem;
          background-color: transparent;
        }
        .cid-u7EViSQ4wo .mbr-iconfont {
          font-size: 1.2rem !important;
          font-family: 'Moririse2' !important;
          color: white;
          transition: all 0.3s;
          transform: rotate(180deg);
        }
        .cid-u7EViSQ4wo .panel-group {
          border: none;
        }
        .cid-u7EViSQ4wo .card-header {
          padding: 1.2rem 0.5rem;
        }
        @media (max-width: 767px) {
          .cid-u7EViSQ4wo .card-header {
            padding: 1rem 0rem;
          }
        }
        .cid-u7EViSQ4wo .panel-body {
          padding: 0 0.5rem;
          padding-bottom: 1rem;
        }
        @media (max-width: 767px) {
          .cid-u7EViSQ4wo .panel-body {
            padding: 0rem;
            padding-bottom: 1rem;
          }
        }
        .cid-u7EViSQ4wo .img-col {
          padding: 0;
        }
        .cid-u7EViSQ4wo .img-item {
          height: 100%;
        }
        .cid-u7EViSQ4wo img {
          height: 100%;
          object-fit: cover;
        }
        .cid-u7EViSQ4wo .collapsed span {
          transform: rotate(0deg);
        }
        .cid-u7EViSQ4wo .panel-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .cid-u7EViSQ4wo p {
          margin-bottom: 0.3rem;
        }
        .cid-u7EViSQ4wo .card .card-header {
          background-color: transparent;
          margin-bottom: 0;
          border: 0;
          border-radius: 2rem;
        }
        .cid-u7EViSQ4wo .card {
          background: #ffffff;
          padding: 1rem 2rem;
          border-radius: 2rem;
        }
        @media (max-width: 767px) {
          .cid-u7EViSQ4wo .card {
            padding: 1.5rem;
          }
        }
        .cid-u7EViSQ4wo .panel-text {
          color: #000000;
        }
        .cid-u7EViSQ4wo .mbr-section-title {
          text-align: center;
          color: #000000;
        }
        .cid-u7EViSQ4wo .mbr-section-subtitle {
          color: #000000;
          text-align: center;
        }
        .cid-u7EViSQ4wo .panel-title-edit,
        .cid-u7EViSQ4wo .mbr-iconfont {
          color: #000000;
        }
      </style>
      <section class="list1 cid-u7EViSQ4wo" id="faq-1-u7EViSQ4wo">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-12 col-lg-10 m-auto">
                      <div class="content">
                          <div class="mbr-section-head align-left mb-5">
                              <h3 class="mbr-section-title mb-2 mbr-fonts-style display-2">
                                  <strong>Secure Your Vote, Shape Your Future</strong>
                              </h3>
                          </div>
                          <div id="bootstrap-accordion_0" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                              <div class="card mb-3">
                                  <div class="card-header" role="tab" id="headingOne">
                                      <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_0" aria-expanded="false" aria-controls="collapse1">
                                          <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                              How to Access the Voting Platform?
                                          </h6>
                                          <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                      </a>
                                  </div>
                                  <div id="collapse1_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                      <div class="panel-body">
                                          <p class="mbr-fonts-style panel-text display-7">
                                              Access the platform with your Admission Number and password to start voting securely.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card mb-3">
                                  <div class="card-header" role="tab" id="headingOne">
                                      <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_0" aria-expanded="false" aria-controls="collapse2">
                                          <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                              Can I Change My Vote Once Submitted?
                                          </h6>
                                          <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                      </a>
                                  </div>
                                  <div id="collapse2_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                      <div class="panel-body">
                                          <p class="mbr-fonts-style panel-text display-7">
                                              Once you cast your vote, it&#x27;s final. Make your choice wisely and confidently.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card mb-3">
                                  <div class="card-header" role="tab" id="headingOne">
                                      <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_0" aria-expanded="false" aria-controls="collapse3">
                                          <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                              Is My Vote Anonymous?
                                          </h6>
                                          <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                      </a>
                                  </div>
                                  <div id="collapse3_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                      <div class="panel-body">
                                          <p class="mbr-fonts-style panel-text display-7">
                                              Rest assured, your vote is completely anonymous and confidential.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="card mb-3">
                                  <div class="card-header" role="tab" id="headingOne">
                                      <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_0" aria-expanded="false" aria-controls="collapse5">
                                          <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                                              What Happens If I Forget My Password?
                                          </h6>
                                          <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                      </a>
                                  </div>
                                  <div id="collapse5_0" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_0">
                                      <div class="panel-body">
                                          <p class="mbr-fonts-style panel-text display-7">
                                              No worries! Simply reset your password using your student email for a seamless voting experience.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      {% include "footer.html" %}
{% endblock  %}
